html {
    width: 100%;
    height: 100%;
}

body {
    margin: auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: Consolas;
    font-size: 12px;
}

canvas#canvas {
    margin: auto;
    image-rendering: pixelated;
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: 0;
    pointer-events: auto;
}

div#game-menu, div#start-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;
}

div#game-standard, div#game-construction, div#game-paused, div#game-end {
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}

div#game-standard *, div#game-construction *, div#game-paused *, div#game-end *, div#start-menu * {
    pointer-events: auto;
    z-index: 2;
}

div#game-paused, div#game-end {
    background-color: rgba(14, 28, 38, 0.5);
}

div#paused-button-container, div#game-end-menu {
    position: absolute;
    display: inline-block;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

p#game-over-message {
    color: white;
    font-size: 20px;
    pointer-events: none;
}

.general, .icon, .facility-button {
    border: 2px rgb(220, 238, 255) solid;
    border-radius: 3px;
    background-color: rgba(14, 28, 38, 0.8);
    font-family: Consolas;
    padding: 4px;
    margin: 4px;
    color: white;
    transition: 0.5s;
}

button.facility-button {
    min-width: 10%;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
    display: block;
}

button.general:hover, button.icon:hover, button.facility-button:hover {
    cursor: pointer;
    color: rgb(56, 123, 190);
    border-color: rgb(56, 123, 190);
}

div#stats-display {
    position: absolute;
    pointer-events: none;
    top: 1%;
    left: 1%;
    width: 20%;
    height: 13%;
}

div#facility-info {
    position: absolute;
    pointer-events: none;
    top: 20%;
    left: 1%;
    width: 20%;
}

img#facility-info-sprite {
    position: absolute;
    top: 3%;
    right: 3%;
    width: 30%;
}

div#construction-buttons {
    position: absolute;
    top: 1%;
    right: 1%;
}

div#buildings-display {
    overflow-x: auto;
    display: flex;
    white-space: nowrap;
    max-width: 75%;
    position: absolute;
    top: 10%;
    left: 23%;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: rgb(220, 238, 255);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(26, 68, 92);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

span#stats-money-display {
    color: rgb(6, 155, 6);
}

span#stats-population-display {
    color: rgb(134, 136, 255);
}

span#stats-score-display {
    color: rgb(231, 197, 0);
}

p.cost-display {
    color: rgb(6, 155, 6);
}

#game-standard .dropdown {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

#game-standard .dropdown * {
    pointer-events: none;
}

#game-standard .dropdown.show {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
}

#game-standard .dropdown.show * {
    pointer-events: auto;
}

#game-menu div.popup {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

#game-menu div.popup.show {
    opacity: 1;
    transform: translateY(0);
}

#game-menu div.slide-left {
    opacity: 0;
    transform: translateX(-30px);
    transition: opacity 0.4s ease, transform 0,4s ease;
}

#game-menu div.slide-left.show {
    opacity: 1;
    transform: translateX(0);
}

div#notification-box {
    pointer-events: none;
    position: absolute;
    bottom: 1%;
    right: 1%;
    width: 15%;
    overflow-y: auto;
    height: 10%;
}

.icon img {
    width: 40px;
    height: 40px;
}

.facility-button img {
    width: 100%;
}

.dropdown-button img {
    transition: 0.5s ease;
}

.dropdown-button.active img {
    transform: rotate(180deg);
}

div#map-control-buttons {
    position: absolute;
    left: 1%;
    bottom: 1%;
}

button#view-cancel {
    position: absolute;
    left: 1%;
    bottom: 1%;
}

button#start-game {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    font-family: Consolas;
    font-size: 40px;
    padding: 2%;
    border: 8px black solid;
    color: black;
    border-radius: 10px;
    background-color: rgba(255, 255, 0, 0.8);
    transition: 0.5s;
}

button#start-game:hover {
    cursor: pointer;
    color: white;
    border-color: white;
}
